<div class="min-h-screen flex flex-col bg-main">
  <!-- Hero Section -->
  <section class="bg-main py-16 mt-[64px]">
    <div class="container mx-auto px-16 text-center">
      <div class="w-full lg:w-1/2 mx-auto">
        <h1 class="text-4xl md:text-5xl font-extrabold text-accent capitalize">
          TRANSFORM YOUR LANDSCAPE, NATURALLY
        </h1>
        <p class="mt-4 text-white text-xl">
          Native Planet specializes in sustainable landscaping solutions
          tailored to St. Louis. Let us bring your outdoor spaces to life.
        </p>
      </div>

      <div class="mt-8 flex justify-center">
        <img
          src="images/cover.webp"
          alt="Native Plant Garden Example"
          class="rounded-lg shadow-lg w-full"
        />
      </div>

      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- BENEFIT 1 -->
        <div class="bg-main brightness-150 p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-4xl text-accent">
            <ng-icon class="" name="heroWrench"></ng-icon>
          </div>
          <h2 class="text-xl text-accent font-bold mt-4">LESS MAINTENANCE</h2>
          <p class="mt-2 text-white">
            Native plants require less watering, fertilizing, and pest control,
            which saves you time and money.
          </p>
        </div>

        <!-- BENEFIT 2 -->
        <div class="bg-main brightness-150 p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-4xl text-accent">
            <ng-icon class="" name="heroGlobeAmericas"></ng-icon>
          </div>
          <h2 class="text-xl text-accent font-bold mt-4">SUPPORT WILDLIFE</h2>
          <p class="mt-2 text-white">
            Native plants provide food, shelter, and breeding grounds for local
            wildlife, like birds, butterflies, bees, and other pollinators.
          </p>
        </div>

        <!-- BENEFIT 3 -->
        <div class="bg-main brightness-150 p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-4xl text-accent">
            <ng-icon class="" name="heroArrowPath"></ng-icon>
          </div>
          <h2 class="text-xl font-bold mt-4 text-accent">SUSTAINABILITY</h2>
          <p class="mt-2 text-white">
            Native plants are naturally adapted to the local environment,
            meaning they require less water and are more resilient against local
            pests & disease.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="bg-white py-16 md:py-24">
    <div class="container mx-auto px-6">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center"
      >
        <!-- Column 1: Bio Text -->
        <div class="text-gray-700 order-2 md:order-1">
          <h1 class="text-3xl font-bold text-gray-800 mb-6">
            THE MAN WITH THE PLAN<span class="text-gray-400">TS</span>
          </h1>
          <p class="text-lg leading-relaxed mb-4">
            Nick Ciaramitaro isn't just the founder of Native Planet; he's a
            lifelong advocate for the natural world, armed with degrees in
            Biology and Horticulture. His dedication runs so deep that after
            graduation, he made the pivotal decision to turn down a full-ride to
            law school to chase his true passion: conservation.
          </p>
          <p class="text-lg leading-relaxed mb-4">
            Nick dove headfirst into making a difference, leading critical
            conservation and emergency response teams with Americorps St. Louis.
            After further honing his skills in the landscaping industry, he saw
            a unique opportunity.
          </p>
          <p class="text-lg leading-relaxed">
            He founded Native Planet to channel his expertise and infectious
            enthusiasm into transforming St. Louis landscapes, one beautiful,
            sustainable, native plant at a time.
          </p>
        </div>

        <!-- Column 2: Photo -->
        <div class="order-1 md:order-2">
          <img
            src="images/bio.webp"
            alt="Photo of Nick Ciaramitaro, Founder of Native Planet"
            class="w-full max-w-md mx-auto md:max-w-full h-auto rounded-lg shadow-lg object-cover"
            style="aspect-ratio: 1/1"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section id="services" class="bg-gray-100 py-16">
    <div class="container mx-auto px-6 text-center">
      <h1 class="text-3xl font-bold text-gray-800">Our Services</h1>
      <p class="mt-4 text-gray-600 text-lg">
        Explore our range of services designed to meet all your landscaping
        needs.
      </p>
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Service 1 -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-emerald-600 text-3xl">
            <ng-icon name="heroSparkles"></ng-icon>
          </div>
          <h2 class="text-xl font-bold mt-4">Native Plant Landscaping</h2>
          <p class="mt-2 text-gray-600">
            Enhance your property with plants that thrive in the St. Louis
            climate.
          </p>
        </div>

        <!-- Service 2 -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-emerald-600 text-3xl">
            <ng-icon name="heroArrowUp"></ng-icon>
          </div>
          <h2 class="text-xl font-bold mt-4">Eco-Friendly Maintenance</h2>
          <p class="mt-2 text-gray-600">
            Sustainable upkeep to keep your landscape beautiful year-round.
          </p>
        </div>

        <!-- Service 3 -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <div class="flex justify-center text-emerald-600 text-3xl">
            <ng-icon name="heroPaintBrush"></ng-icon>
          </div>
          <h2 class="text-xl font-bold mt-4">Custom Design</h2>
          <p class="mt-2 text-gray-600">
            Tailored solutions to bring your vision to life.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="py-16 bg-white">
    <div class="container mx-auto px-6 text-center">
      <h1 class="text-3xl font-bold text-gray-800">Get in Touch</h1>
      <p class="mt-4 text-gray-600 text-lg">
        Have questions or ready to get started? Contact us today!
      </p>
      <div
        class="mt-8 flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-8"
      >
        <!-- Email -->
        <button
          (click)="openEmailClient()"
          aria-label="Email Us"
          class="flex items-center space-x-2 font-bold text-xl text-main hover:text-emerald-600 cursor-pointer"
        >
          <ng-icon name="heroEnvelope"></ng-icon>
          <span>Email Us</span>
        </button>

        <!-- Phone -->
        @if(false){
        <a
          href="tel:+1234567890"
          class="flex items-center space-x-2 font-bold text-main hover:text-emerald-600"
        >
          <ng-icon name="heroPhone"></ng-icon>
          <span>Call Us</span>
        </a>
        }
      </div>
    </div>
  </section>
</div>
